<html>

    <head>
        <title>TODO supply a title</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>      
        <div id="sidebar"></div>
        <div class="container" id="page-container">

            <div class="row">
                <div class="col-sm-1 mx-auto"></div>
                <div class="col-sm-10 mx-auto">

                </div>
                <div class="col-sm-1 mx-auto"></div>
            </div>

            <div class="row" id="$pageId$">
                <!-- <div class="col-sm-1 mx-auto"></div>-->
                <!START qc-table-->
                <div class="col-sm-12 mx-auto">
                    <div id="wrapper-$pageId$">
                        $pageContent$
                    </div>

                </div>
                <!--<div class="col-sm-1 mx-auto"></div>-->

            </div>
            <!END qc-table-->

            <!END page-table-->

        </div>
    </body>
</html>


